/* Variable */
:root
{
    --principal-color:#0065FC;
    --secondar-color:#DEEBFF;
    --terciar-color:#F2F2F2;
}

/* Style de la page */
body
{
    margin: auto;
    width:95%;
}

/* En tête */
header
{
    display:grid;
    grid-template-columns: repeat(13, 1fr);
}

header img
{
    width:150px;
    grid-column: 1;
}

header a
{
    margin-top:5px;
    color:black;
    text-decoration: none;
    text-align: center;
    padding-top:25px;
}

header a:hover
{
    border-top: 1px solid var(--principal-color);
    color:var(--principal-color);
}

#inscription:hover
{
    border-top:none;
}

#anchor-heb
{
    grid-column: 11;
}

#anchor-activity
{
    grid-column: 12;
}

#inscription
{
    color:var(--principal-color);
    grid-column:  13;
}

/* Espace de recherche */
#search_zone
{
    display:flex;
}

#location-btn
{
    border-radius: 15px 0px 0px 15px;
    border:none;
    background-color: var(--terciar-color);
    padding:10px;
}

#search-btn-pc
{
    border:none;
    color:white;
    background-color: var(--principal-color);
    border-radius: 0px 15px 15px 0px;
}

#search-btn-mobile
{
    display:none;
    border:none;
    color:white;
    background-color: var(--principal-color);
    border-radius: 0px 15px 15px 0px;
    padding:10px;
}

#searchTXT
{
    border-top:1px solid var(--terciar-color);
    border-bottom:1px solid var(--terciar-color);
    border-left:none;
    border-right:none;
}

.filtres
{
    background-color: var(--terciar-color);
    border:none;
    border-radius: 45px;
    margin:5px;
}

.filtres:hover
{
    border:1px solid black;
    cursor:pointer;
}

.filtres .fas 
{
    padding:10px;
    background-color: var(--secondar-color);
    border-radius:100%;
    margin:0px;
}

.fa-star 
{
    color: var(--terciar-color);
}

 .selected
{
    color: var(--principal-color) ;
}

/* Hébergement */
#sec_hebergement
{
    display:flex;
}

a
{
    color:black;
    text-decoration: none;
}

#liste_hebergement
{
    background-color: var(--terciar-color);
    padding:15px;
    border-radius:25px;
}

#all_hebergement
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 15px;
}

.hébergement
{
    margin:15px;
    padding:5px;
    border-radius:35px;
    background-color: white;
}

.hébergement img
{
    width:300px ;
    height:175px;
    border-radius: 35px 35px 0px 0px;
    margin:auto;
}

/* Hébergement Populaire */
#aside-popular
{
    background-color: var(--terciar-color);
    border-radius: 25px;
    margin:15px;
    padding:5px;
}

.popular_hebergement
{
    display:flex;
    margin:15px;
    background-color: white;
    border-radius: 15px;
}

.popular_hebergement img
{
    width:150px;
    height:100px;
    border-radius: 15px 0px 0px 15px;
}
.popular_hebergement h3
{
    margin:0px;
}

.des-pop
{
    margin-left:5px;
}

@media screen and (max-width:425px)
{
    /* En tête */
    header
    {
        grid-template-columns: repeat(2, 1fr);
    }
    #inscription
    {
        grid-column: 2;
        grid-row: 1;
    }
    #anchor-heb
    {
        grid-column: 1;
        grid-row: 2;
    }
    #anchor-activity
    {
        grid-column: 2;
        grid-row: 2;
    }

    header a:hover
    {        
        border-top: none;
        border-bottom: 2px solid var(--principal-color);
        padding-bottom:10px;
    }
    #inscription
    {
        border-bottom:none;
    }

    /* espace de recherche*/
    #search-btn-pc
    {
        display: none;
    }
    #search-btn-mobile
    {
        display: block;
    }

    /* hébergement */
    #sec_hebergement
    {
        flex-direction: column-reverse;
    }

    #liste_hebergement
    {
        background-color: white;
    }

    #all_hebergement
    {
        grid-template-columns: 1fr;
    }

    .hébergement
    {
        box-shadow: 1px 1px 3px black;;
    }

    /* hébergement populaire */
    .popular_hebergement
    {
        width: 325px;
    }
}