/* Variable */
:root
{
    --principal-color:#0065FC;
    --secondar-color:#DEEBFF;
    --terciar-color:#F2F2F2;
}

/* Style de la page */
body
{
    margin: auto;
    width:95%;
}

/* En tête */
header
{
    display:grid;
    grid-template-columns: repeat(13, 1fr);
}

header img
{
    width:150px;
    grid-column: 1;
}

header a
{
    margin-top:5px;
    color:black;
    text-decoration: none;
    text-align: center;
    padding-top:25px;
}

header a:hover
{
    border-top: 1px solid var(--principal-color);
    color:var(--principal-color);
}

#inscription:hover
{
    border-top:none;
}

#anchor-heb
{
    grid-column: 11;
}

#anchor-activity
{
    grid-column: 12;
}

#inscription
{
    color:var(--principal-color);
    grid-column:  13;
}

/* Espace de recherche */
#search_zone
{
    display:flex;
}

#location-btn
{
    border-radius: 15px 0px 0px 15px;
    border:none;
    background-color: var(--terciar-color);
    padding:10px;
}

#search-btn-pc
{
    border:none;
    color:white;
    background-color: var(--principal-color);
    border-radius: 0px 15px 15px 0px;
}

#search-btn-mobile
{
    display:none;
    border:none;
    color:white;
    background-color: var(--principal-color);
    border-radius: 0px 15px 15px 0px;
    padding:10px;
}

#searchTXT
{
    border-top:1px solid var(--terciar-color);
    border-bottom:1px solid var(--terciar-color);
    border-left:none;
    border-right:none;
}

.filtres
{
    background-color: var(--terciar-color);
    border:none;
    border-radius: 45px;
    margin:5px;
}

.filtres:hover
{
    border:1px solid black;
    cursor:pointer;
}

.filtres .fas 
{
    padding:10px;
    background-color: var(--secondar-color);
    border-radius:100%;
    margin:0px;
}

.fa-star 
{
    color: var(--terciar-color);
}

 .selected
{
    color: var(--principal-color) ;
}

/* Hébergement */
#sec_hebergement
{
    display:flex;
}

a
{
    color:black;
    text-decoration: none;
}

#liste_hebergement
{
    background-color: var(--terciar-color);
    padding:15px;
    border-radius:25px;
}

#all_hebergement
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: 15px;
}

.hébergement
{
    margin:15px;
    border-radius:35px;
    background-color: white;
    width: 240px;

    width: 240px;;
}

.hébergement img
{
    width:240px ;
    height:150px;
    border-radius: 35px 35px 0px 0px;
}

/* Hébergement Populaire */
#aside-popular
{
    background-color: var(--terciar-color);
    border-radius: 25px;
    margin:15px;
    padding:5px;
}

.popular_hebergement
{
    display:flex;
    margin:15px;
    background-color: white;
    border-radius: 15px;

}

.popular_hebergement img
{
    width:180px;
    height:205px;
    border-radius: 15px 0px 0px 15px;
}
.popular_hebergement h3
{
    margin:0px;
}

.des-pop
{
    margin-left:5px;
}

/* activité */
#all_activity
{
    display:flex;
    margin:25px;
}

.activity
{
    box-shadow: 3px 0.5px 6px black;
    border-radius: 15px;
    margin:10px;
}

.activity img
{
    width:315px;
    height:450px;
    border-radius: 15px 15px 0 0;
}
.double_activity
{
    height:300px;
}
.double_activity img
{
    height:200px;
}

.activity h3
{
    padding-left:15px;
    margin:0px;
    padding-bottom: 25px;
}


/* Pied de page */

footer
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--terciar-color);
    padding-left: 25px;
}

/* Tablette */
@media screen and (min-width:450px) and (max-width:768px)
{
    /* hébergement */
    #sec_hebergement
    {
        flex-direction: column-reverse;
    }
    #aside-popular
    {
        background-color: white;
        
    }

    #liste_hebergement
    {
        width:max-content;
    }

    /* Hébergement populaire */
    #all_popular_hebergement
    {
        display:flex;
    }

    .popular_hebergement
    {
        box-shadow: 1px 1px 3px;
        display:block;
        border-radius:25px;
        width:250px;
        height: 300px;
    }

    .popular_hebergement img
    {
        border-radius: 25px 25px 0px 0px;
        width:250px;
        height:150px;
    }

    /* Activité */
    #all_activity
    {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .activity
    {
        width:315px
    }

    #all_activity .act_1
    {
        grid-column: 1;
    }
    #all_activity .act_2
    {
        grid-column: 2;
    }
    #all_activity .act_4
    {
        grid-column: 1;
    }
    #all_activity .act_3
    {
        grid-column: 2;
        grid-row: 2;
    }
    
}

/* téléphone */

@media screen and (max-width:425px)
{
    /* En tête */
    header
    {
        grid-template-columns: repeat(2, 1fr);
    }
    #inscription
    {
        grid-column: 2;
        grid-row: 1;
    }
    #anchor-heb
    {
        grid-column: 1;
        grid-row: 2;
    }
    #anchor-activity
    {
        grid-column: 2;
        grid-row: 2;
    }

    header a:hover
    {        
        border-top: none;
        border-bottom: 2px solid var(--principal-color);
        padding-bottom:10px;
    }
    #inscription
    {
        border-bottom:none;
    }

    /* espace de recherche*/
    #search-btn-pc
    {
        display: none;
    }
    #search-btn-mobile
    {
        display: block;
    }

    /* hébergement */
    #sec_hebergement
    {
        flex-direction: column-reverse;
    }

    #liste_hebergement
    {
        background-color: white;
    }

    #all_hebergement
    {
        grid-template-columns: 1fr;
    }

    .hébergement
    {
        box-shadow: 1px 1px 3px black;
        width: 350px;
    }
    .hébergement img
    {
        width:350px;
        height:225px;
    }

    /* hébergement populaire */
    .popular_hebergement
    {
        width: 325px;
    }

    /* Activité */
    #all_activity
    {
        flex-direction: column;
    }

    .activity img
    {
        width:333px;
        height:225px;
    }
    .double_activity
    {
        height:580px;
    }
    .double_activity img
    {
        height:225px;
    }
    
    footer
    {
        grid-template-columns: 1fr;
    }
}